/**
 * ILWHACK 2014
 *
 * Bobby Tables
 * Front End CSS
 *
 * COLOURS:
 * Subtle        - #E6FADF
 * Green Accent  - #CEF062
 * Green         - #ABED32 - Darl  : #9AD52D
 * Purple Accent - #8359A3 - Light : #9B7AB5 - V. Light : #B49BC7
 * Purple        - #4F3B75
 * Red           - #C75141
**/


body, html {
    color: #111;
    background: #EEE;
    font-family: 'Roboto', Helvetica-Neue, Helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', Times, serif;
    font-weight: lighter;
}


/** ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  **/


.avatar {
    width: 115px;
    height: 115px;
    overflow: hidden;
    border: 4px solid #CCC;
    border-radius: 57.5px;
}

    .avatar img {
	width: 111px;
	height: 111px;
    }

.small_avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 2px solid #CCC;
    border-radius: 25px;
}

    .small_avatar img {
        width: 50px;
        height: 50px;
    }


.bit {
    margin: 0;
    margin-bottom: 15px;
    padding: 15px 15px;
    background: #CCE3CF;
    color: #000;
    font-size: 150%;
}

    .bit-green {
	background: #7AB57E;
    }
    .bit-purple {
	background: #8359A3;
	color: #FFF !important;
    }
    .bit-red {
	background: #C75141;
    }

    .bit h1, .bit h2, .bit h3 {
	font-size: 120%;
    }

    .bit-image {
	padding: 0;
	color: #FFF;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	height: 200px;
    }

        .bit-image img {
	    width: 100%;
	    height: 200px;
	}

	.bit-image .bit-image-caption {
	    margin-top: -200px;
	    padding: 15px;
	    text-align: center;
	    font-size: 200%;
	}


.block {
    background: #FFF;
    margin: 0;
    margin-bottom: 8px;
    -webkit-box-shadow: 0 4px 1px -1px rgba(0,0,0,0.1);
       -moz-box-shadow: 0 4px 1px -1px rgba(0,0,0,0.1);
            box-shadow: 0 4px 1px -1px rgba(0,0,0,0.1);
}


.btn-facebook {
    color: #FFF !important;
    background: #3B5998;
    border-color: #2F4779;
    max-heigth: 34px;
}

    .btn-facebook:hover,
    .btn-facebook:focus {
	background: #4E69A2;
	border-color: #2F4779;
    }


.carousel-caption {
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
}


@media (min-width: 1000px) {
    .carousel {
	max-height: 400px;
    }

    .carousel-inner {
	max-height: 400px;
    }

    .carousel-inner .item {
	margin-top: -250px;
    }

    .carousel-inner .item .carousel-caption {
	padding-bottom: 100px;
    } 
}

.centre {
    max-width: 1140px;
    margin: 0 auto;
}


.friendlist {
    width: 100%;
}

    .friendlist td {
	border-bottom: 2px solid #EEE;
	padding: 5px 20px;
    }

    .friendlist tr.selected,
    .friendlist tr:hover {
	background: #CCE3CF;
    }

    .friendlist tr.selected .avatar,
    .friendlist tr:hover .avatar {
	border-color: #7AB57E;
    }

    .friendlist tr.selected td,
    .friendlist tr:hover td {
	border-color: #7AB57E;
    }

.friend-name {
    font-family: 'Roboto Slab', Times, serif;
    font-weight: lighter;
    font-size: 20px;
    display: block;
}

.friend-location {
    color: #888;
}


.list-container {
    padding: 0 !important;
}


.main {
    margin-top: 20px;
}


.navbar-brand {
    font-family: 'Roboto', Helvetica, Helvetica-Neue, serif;
    font-weight: bold;
}

.navbar-purple {
    background-color: #8359A3;
    border-color: #9B7AB5;
    border-bottom: 3px solid #9B7AB5;
}

    .navbar-purple .navbar-brand {
	color: #FFF;
    }

    .navbar-purple .navbar-collapse {
	border-color: #9B7AB5;
    }

    .navbar-purple .navbar-form {
	border: none;
    }

    .navbar-purple .navbar-toggle {
	border-color: #9B7AB5;
    }

    .navbar-purple .navbar-toggle:hover {
	background: #9B7AB5;
    }

    .navbar-purple .navbar-toggle:focus {
	background: #9B7AB5;
    }

    .navbar-purple .navbar-toggle span.icon-bar {
	background-color: #B49BC7;
    }


.nav-tabs {
    border-bottom: none;
}

.nav-touch {
    list-style: none;
    background: #F8F8F8;
}

    .nav-touch > li {
	position: relative;
	display: block;
	float: left;
	border-bottom: 2px solid #CCC;
    }

    .nav-touch > li > a {
	border-bottom: 4px solid transparent;
	color: #000;
    }

    .nav-touch > li > a:hover,
    .nav-touch > li > a:focus {
	border-bottom: 4px solid #DDD;
	background: #FAFAFA;
    }

    .nav-touch > li.active {
	border-bottom: 2px solid #8359A3;
    }

    .nav-touch > li.active > a,
    .nav-touch > li.active > a:hover, 
    .nav-touch > li.active > a:focus {
	color: #000;
	background: #FFF;
	border-bottom: 4px solid #9B7AB5;
    }

    .nav-touch.nav-justified {
	width: 100%;
	border-bottom: 0;
	box-sizing: border-box;
    }

    .nav-touch.nav-justified > li {
	float: none;
    }

    .nav-touch.nav-justified > li {
	display: table-cell;
	width: 1%;
    }

    .nav-justified > li > a {
	margin-bottom: 0px;
	text-align: center;
    }

.padder {
    padding: 15px 15px;
    margin: 0 auto;
}