/**
 * ILWHACK 2014
 *
 * Bobby Tables
 * Front End CSS
 *
 * COLORUS:
 * Subtle        - #E6FADF
 * Green Accent  - #CEF062
 * Green         - #ABED32
 * Purple Accent - #8359A3 - Light : #9B7AB5 - V. Light : #B49BC7
 * Purple        - #4F3B75
 * Red           - #C75141
**/


body, html {
    color: #111;
    background: #EEE;
    font-family: 'Roboto', Helvetica-Neue, Helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', Times, serif;
    font-weight: lighter;
}


/** ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  **/


.bit {
    margin: 0;
    margin-bottom: 15px;
    padding: 15px 15px;
    background: #E6FADF;
    color: #000;
    font-size: 150%;
}

    .bit-green {
	background: #CEF062;
    }
    .bit-purple {
	background: #8359A3;
	color: #FFF !important;
    }
    .bit-red {
	background: #C75141;
    }

    .bit h1, .bit h2, .bit h3 {
	font-size: 120%;
    }


.block {
    background: #FFF;
    margin: 0;
    margin-bottom: 8px;
    -webkit-box-shadow: 0 4px 1px -1px rgba(0,0,0,0.1);
       -moz-box-shadow: 0 4px 1px -1px rgba(0,0,0,0.1);
            box-shadow: 0 4px 1px -1px rgba(0,0,0,0.1);
}


.btn-facebook {
    background: #3B5998;
    border-color: #2F4779;
    max-heigth: 34px;
}

    .btn-facebook:hover,
    .btn-facebook:focus {
	background: #4E69A2;
	border-color: #2F4779;
    }


.carousel-caption {
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
}


@media (min-width: 1000px) {
    .carousel {
	max-height: 400px;
    }

    .carousel-inner {
	max-height: 400px;
    }

    .carousel-inner .item {
	margin-top: -250px;
    }

    .carousel-inner .item .carousel-caption {
	padding-bottom: 100px;
    } 
}

.centre {
    max-width: 1140px;
    margin: 0 auto;
}


.main {
    margin-top: 20px;
}


.navbar-brand {
    font-family: 'Roboto Slab', Times, serif;
}

.navbar-purple {
    background-color: #8359A3;
    border-color: #9B7AB5;
    border-bottom: 3px solid #9B7AB5;
}

    .navbar-purple .navbar-brand {
	color: #FFF;
    }

    .navbar-purple .navbar-collapse {
	border-color: #9B7AB5;
    }

    .navbar-purple .navbar-form {
	border: none;
    }

    .navbar-purple .navbar-toggle {
	border-color: #9B7AB5;
    }

    .navbar-purple .navbar-toggle:hover {
	background: #9B7AB5;
    }

    .navbar-purple .navbar-toggle:focus {
	background: #9B7AB5;
    }

    .navbar-purple .navbar-toggle span.icon-bar {
	background-color: #B49BC7;
    }



.padder {
    padding: 15px 15px;
    margin: 0 auto;
}