<!DOCYPE html>
<html>
  
  <head>
    <title></title>
    <link rel="stylesheet" href="http://hack.hamhut1066.com/css/bootstrap.css">
    <link rel="stylesheet" href="http://hack.hamhut1066.com/css/override.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300,300italic|Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="http://hack.hamhut1066.com/js/jquery.js"></script>
    <script tyle="text/javascript" src="http://hack.hamhut1066.com/js/bootstrap.min.js"></script>
  </head>

  
  
  <body>
    
     <nav class="navbar navbar-default navbar-purple navbar-fixed-top" role="navigation">
       <div class="container">
	 <div class="navbar-header">
	   
	   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
	   
	   <a class="navbar-brand" href="#">Thing</a>
	 </div>
	 
	 <div class="navbar-collapse collapse">
           <form class="navbar-form navbar-right" role="form">
             <button type="button" class="btn btn-danger">Log Out</button>
           </form>
         </div>
	 
       </div>
     </nav>





     <div style="height: 54px;"> </div>
     

<!-- ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  -->
     
     <div class="container list-container">  
       
       <nav class="padder">
	 <ul class="nav nav-touch nav-justified" id="chooser">
	   <li><a href="main">Flight Suggestions</a></li>
	   <li class="active"><a href="friends">Select your Friends</a></li>
	 </ul>
       </nav>

       <div class="list-row">

	 <div class="col-xs-12">
	   <div class="block">
	     <table class="friendlist">
	       <tbody>
		 <tr class="selected">
		   <td>
		     <div class="avatar">
		       <button>
			 <img src="https://graph.facebook.com/angus.pearson.5/picture?width=100&height=100">
		       </button>
		     </div>
		   </td>
		   <td>
		     <span class="friend-name">Angus Pearson</span>
		     <span class="friend-location">Edinburgh</span>
		   </td>
		 </tr>
		 
		 
		 
		 <tr>
		   <td>
		     <div class="avatar">
		       <img src="https://graph.facebook.com/hamhut1066/picture?width=100&height=100">
		     </div>
		   </td>
		   <td>
		     <span class="friend-name">Hamish Hutchings</span>
		     <span class="friend-location">Edinburgh</span>
		   </td>
		 </tr>


		 <tr>
		   <td>
		     <div class="avatar">
		       <img src="https://graph.facebook.com/henri.maurer/picture?width=100&height=100">
		     </div>
		   </td>
		   <td>
		     <span class="friend-name">Henri Maurer</span>
		     <span class="friend-location">Edinburgh</span>
		   </td>
		 </tr>
	       </tbody>
	     </table>
	   </div>
	 </div>

       </div>

     </div><!-- .container -->
     

  </body>
</html>
