<!DOCYPE html>
<html>
    <!-- Modal -->  
    <!-- Button trigger modal -->
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="modalTitle">Loading...</h4>
            </div>
            <div class="modal-body">
              <table class="table" id="flight-data">
                <tr>
                  <td class="date">Today</td>
                  <td class="carrier">Ryan Air</td>
                  <td class="begin">Edinburgh</td>
                  <td class"dest">Bristol</td>
                  <td class"book"><button class="btn btn-success">RA243</button></td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->
  <head>
    <title></title>
    <link rel="stylesheet" href="http://hack.hamhut1066.com/css/bootstrap.css">
    <link rel="stylesheet" href="http://hack.hamhut1066.com/css/override.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300,300italic|Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="http://hack.hamhut1066.com/js/jquery.js"></script>
    <script type="text/javascript" src="http://hack.hamhut1066.com/js/bootstrap.min.js"></script>
  </head>

  
  
  <body>
    
     <nav class="navbar navbar-default navbar-purple navbar-fixed-top" role="navigation">
       <div class="container">
	 <div class="navbar-header">
	   
	   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
	   
	   <a class="navbar-brand" href="#">Thing</a>
	 </div>
	 
	 <div class="navbar-collapse collapse">
           <form class="navbar-form navbar-right" role="form">
             <button type="button" class="btn btn-danger">Log Out</button>
           </form>
         </div>
	 
       </div>
     </nav>





     <div style="height: 54px;"> </div>
     

<!-- ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  -->
     
     <div class="container list-container">  
       
       <nav class="padder">
	 <ul class="nav nav-touch nav-justified" id="chooser">
	   <li class="active"><a href="#">Flight Suggestions</a></li>
	   <li><a href="#">Select your Friends</a></li>
	 </ul>
       </nav>

       <div class="list-row">

	 <!-- Col 1 -->
	 <div id="first-location" class="col-md-4">
	   <div class="block">
	     <div class="bit bit-image">
	       <img src="http://hack.hamhut1066.com/img/london.jpg">
	       <div class="bit-image-caption">
		 <h1>London<br /> &pound;56</h1>
	       </div>
	     </div>
	     <div class="padder">
	       <p>Go and see JRH in London from only &pound;56</p>
	       <button type="button" data-toggle="modal" class="btn-modal btn btn-success btn-block btn-lg">Book Now</button>
	     </div>
	   </div>
	 </div>

	 <!-- Col 2 -->
	 <div id="second-location" class="col-md-4">
	   <div class="block">
	     <div class="bit bit-image">
	       <img src="http://hack.hamhut1066.com/img/paris.jpg">
	       <div class="bit-image-caption">
		 <h1>Paris<br /> &pound;120</h1>
	       </div>
	     </div>
	     <div class="padder">
	       <p>You have 6 friends near to Paris</p>
	       <button type="button" class="btn-modal btn btn-success btn-block btn-lg">Book Now</button>
	     </div>
	   </div>
	 </div>

	 <!-- Col 3 -->
	 <div id="third-location" class="col-md-4">
	   <div class="block">
	     <div class="bit bit-image">
	       <img src="http://hack.hamhut1066.com/img/new-york.jpg">
	       <div class="bit-image-caption">
		 <h1>New York<br /> &pound;149</h1>
	       </div>
	     </div>
	     <div class="padder">
	       <p>Discounted flights to go and see Tim in New York for a limited time only</p>
	       <button type="button" class="btn-modal btn btn-success btn-block btn-lg">Book Now</button>
	     </div>
	   </div>
	 </div>

       </div>

     </div><!-- .container -->
     

  </body>
    <script type="text/javascript" src="http://hack.hamhut1066.com/js/main.js"></script>
</html>
