<DOCTYPE html>
<html>
    <head>
        <!--TODO: serve static files from somewhere sensible-->
        <script src="http://hack.hamhut1066.com/js/jquery.min.js" ></script>
        <link href="http://hack.hamhut1066.com/css/bootstrap.css" rel="stylesheet">
        <link href="http://hack.hamhut1066.com/css/override.css" rel="stylesheet">
        <script src="http://hack.hamhut1066.com/js/bootstrap.min.js"></script>
        <script src="http://hack.hamhut1066.com/js/custom.js" ></script>
    </head>
    <body>
        <div class="body">
            <div class="content">
                <ul id="content">
                </ul>
            </div>
        </div>
    </body>
</html>
